In [5]:
import pandas as pd
import torch
import Tau

In [6]:
results = {
    #.                          cifar100             cifar10              moco                svhn
    # type                   knn      linear       knn    linear         linear             knn     linear
    'point_t5':              49.90, # 49.80,       78.65, 76.10                           87.89,   88.96   
    'point_t7':              51.77, # 51.82,       80.91, 79.75                53.18      92.17,   92.55
    'point_t10':             52.19, # 52.46        81.53, 81.82                           93.38,   94.21
    'point_t20':             48.90, # 56.05        81.04, 83.78                           93.76,   95.46
    'point_t30':             44.81, # 56.44        79.92, 83.27           52.09           93.30,   95.47
    'point_t40':             40.87, # 55.47        78.00, 83.22                           91.90,   95.36
    'point_t50':             37.85, # 54.17        76.23, 82.54                           87.14,   94.66
    'point_t60':             34.60, # 53.05        75.82, 82.97                           83.90,   94.47
    'point_t70':             30.97, # 50.99        75.09, 82.69                           82.74,  94.17
    'point_t80':             28.66, # 50.08        74.50, 82.67                           80.63,  93,22
    'point_t90':             28.67, # 50.21        72.55, 81.97                           79.21,  92.66
    'point_t100':            26.29, # 48.33        72.00, 82.21                           77.48,  92.07
    
    'hardneg_t5':            49.42, # 49.21     77.52, 76.22,                              87.86,   89.07                         
    'hardneg_t7':            52.36, # 50.77     80.75, 79.20                               91.64,   91.82
    'hardneg_t10':           53.09, # 51.91      81.86, 80.40,                             93.39,   93.37    
    'hardneg_t20':           53.12, # 55.61     82.50, 83.28,                              94.15,   94.58
    'hardneg_t30':           53.42, # 56.55     83.19, 83.63,                              94.13,   94.79
    'hardneg_t40':           53.72, # 55.66     83.19, 84.14,                              93.92,   94.62
    'hardneg_t50':           53.19, # 57.37     83.40, 84.31,                              94.10,   94.93  
    'hardneg_t60':           52.69, # 57.17     83.46, 84.60，                             93.85,   95.06
    'hardneg_t70':           53.44, # 57.54(58.92 for 800 epochs) 83.31, 84.19             93.93,   95.02
    'hardneg_t80':           52.56,  # 57.15     83.40, 84.60,                             93.95,   95.03
    'hardneg_t90':           52.85,  # 56.53     83.23, 84.45                              94.07,   95.08
    'hardneg_t100':          52.52,  # 56.77     83.25, 84.19                              94.13,   95.26 
    'hardneg_t110':             -1,  # -1        83.17, 84.18,
    'hardneg_t120':             -1,  # -1        83.37, 84.17,
    'hardneg_t130':             -1,  # -1        83.49, 84.89,
    'hardneg_t140':             -1,  # -1        83.04, 84.47,
    
    'hardneg512_t20':        52.96,
    'hardneg1024_t20':       53.67,
    'hardneg2048_t20':       54.05, # 54.65 
    'hardneg8192_t20':       53.17, # 56.48
    
    'hardneg2048_t30':       53.94,
    'hardneg2048_t40':       54.55,
    'hardneg2048_t50':       54.02,
    'hardneg2048_t70':       53.62,
    
    'fixentropy_t70':        51.96,
    'fixentropy_t75':        52.19,
    'fixentropy_t80':        52.87, # 53.31
    'fixentropy_t85':        53.01,
    'fixentropy_t90':        52.71,
    'fixentropy_t95':        51.99,
    'fixentropy_t100':       50.13, # 54.55
    'hardfixentropy2048_t761': 54.05, # 54.98
    'hardfixentropy4096_t82':  53.92, # 54.95
    
    'OraclePointLoss_t7':      68.82, # 67.67
    'OraclePointLoss_t20':     66.34, # 67.29
    'OraclePointLoss2_t7':     68.40, # 68.27
    'OracleDebiasedHardNeg4096_t7':    56.27, # 57.93
    'OracleDebiasedHardNeg4096_t20':   57.83, # 58.52
    'OracleDebiasedHardNeg4096_t30':   57.76, # 59.44
    
    'Cluster_t7n5000': 38.43, #49.83
    
}

In [7]:
df = None
for name in ['point_t7', 'point_t20', 'point_t30', 'point_t40', 'point_t50', 'point_t60', 'point_t70', \
             'point_t80', 'point_t90', 'point_t100', 'hardneg_t7', 'hardneg_t20', 'hardneg_t30', 'hardneg_t40', 'hardneg_t50']:
    print(name)
    observer = Tau.TauObserver('/matrix/CLS/cifar100/{}/similarities/'.format(name))
    observer.read_data(name='sim_epoch190.pth')
    print(float(name.split('_')[1][1:])/100.0)
    df = observer.show(df=df, name=name, tau=float(name.split('_')[1][1:])/100.0)

point_t7
0.07
tensor(0.0001, device='cuda:2')
point_t20
0.2
tensor(2.5655e-05, device='cuda:2')
point_t30
0.3
tensor(2.6343e-05, device='cuda:2')
point_t40
0.4
tensor(4.9742e-05, device='cuda:2')
point_t50
0.5
tensor(4.5563e-05, device='cuda:2')
point_t60
0.6
tensor(5.3470e-05, device='cuda:2')
point_t70
0.7
tensor(0.0002, device='cuda:2')
point_t80
0.8
tensor(0.0002, device='cuda:2')
point_t90
0.9
tensor(5.6558e-05, device='cuda:2')
point_t100
1.0
tensor(8.1396e-05, device='cuda:2')
hardneg_t7
0.07
tensor(0.0001, device='cuda:2')
hardneg_t20
0.2
tensor(-7.9061e-06, device='cuda:2')
hardneg_t30
0.3
tensor(5.9450e-06, device='cuda:2')
hardneg_t40
0.4
tensor(4.4340e-05, device='cuda:2')
hardneg_t50
0.5
tensor(3.4388e-05, device='cuda:2')

In [9]:
df.to_csv('./info.csv')

In [4]:
df

,name,MeanPosSim,MeanNegSim,MeanPoss,E,nSuperHard,rank_1,rank_2,rank_3,rank_4,...,rank_11,rank_12,rank_13,rank_14,rank_15,rank_16,rank_17,rank_18,rank_19,rank_20
0,point_t7,0.8586,0.0001,0.4169,0.024356,20453.373047,0.8642,0.6368,0.5987,0.5796,...,0.5254,0.5212,0.5172,0.5136,0.5103,0.5071,0.5042,0.5014,0.4988,0.4962
1,point_t20,0.9045,0.0000,0.1222,0.014963,21201.765625,0.9184,0.8300,0.8077,0.7947,...,0.7520,0.7482,0.7447,0.7414,0.7382,0.7354,0.7326,0.7300,0.7274,0.7250
2,point_t30,0.9143,0.0000,0.0560,0.013984,21296.519531,0.9337,0.8781,0.8613,0.8509,...,0.8165,0.8135,0.8106,0.8078,0.8053,0.8029,0.8005,0.7983,0.7961,0.7941

In [4]:
df = None
for name in ['point_t5']:
    print(name)
    observer = Tau.TauObserver('/matrix/CLS/cifar100/{}/similarities/'.format(name))
    observer.read_data(name='sim_epoch190.pth')
    df = observer.show(df=df, name=name)

point_t5
tensor(0.0017, device='cuda:2')

In [4]:
df

,name,MeanPosSim,MeanNegSim,MeanPoss,E,nSuperHard,hd2048_E,nhd2048SuperHard,hd4096_E,nhd4096SuperHard,...,rank_11,rank_12,rank_13,rank_14,rank_15,rank_16,rank_17,rank_18,rank_19,rank_20
0,point_t7,0.8586,0.0001,0.4169,0.024356,20453.373047,0.302494,719.621155,0.257716,1449.225464,...,0.5254,0.5212,0.5172,0.5136,0.5103,0.5071,0.5042,0.5014,0.4988,0.4962
1,point_t20,0.9045,0.0000,0.1222,0.014963,21201.765625,0.440959,776.610840,0.365105,1518.401367,...,0.7520,0.7482,0.7447,0.7414,0.7382,0.7354,0.7326,0.7300,0.7274,0.7250
2,point_t30,0.9143,0.0000,0.0560,0.013984,21296.519531,0.521210,816.489929,0.434800,1594.873413,...,0.8165,0.8135,0.8106,0.8078,0.8053,0.8029,0.8005,0.7983,0.7961,0.7941